@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@{
    ViewData["Title"] = "Happy Buddha...";
}


<div class="row">
    <div class="col-md-8">
        <h2>What Happy Buddha Profile do you want to configure?</h2>
    </div>
    <br />
    <div class="col-md-8">
        <h3>User Profile</h3>
        <h4>
            
        </h4>
    </div>
    <div class="col-md-8">
        <h3>Team Profile</h3>
        <h4></h4>
    </div>
    <div class="col-md-8">
        <h3>Team Sprints</h3>
        <h4></h4>
    </div>
</div>